Foundation/.vs/StandardDataStructureQuickStart.Data/v15/
Foundation/StandardDataStructureQuickStart.Data/bin/
Foundation/StandardDataStructureQuickStart.Data/obj/
Projects/StandardDataTypeQuickStartCoreConsole/bin/
Projects/StandardDataTypeQuickStartCoreConsole/obj/
.vs/StandardDataStructureQuickStart/v15/
builds/
UnitTests/TestStandardDataStructureQuickStart/bin/
UnitTests/TestStandardDataStructureQuickStart/obj/
